@mixin serverColumns2x {
    #app-mount {
        .wrapper-1Rf91z {
            width: 120px;
            .scrollerWrap-1IAIlv {
                width: 135px;
            }
            .scroller-2TZvBN {
                padding-bottom: 35px;
                display: flex;
                flex-flow: row wrap;
                padding-left: 0;
                align-content: flex-start;
                .container-2td-dC,.circleIconButton-jET_ig {
                    margin-left: 5px;
                    margin-top: 5px;
                }
                .container-1aNBdK {
                    left: 5px;
                    top: 10px;
                    &:not(.container-1aNBdK) {
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        top: 15px;
                        left: 0;
                    }
                }
                .unread-2OHH1w {
                    &:before {
                        margin-left: 15px;
                        margin-top: -25px;
                    }
                }
                .container-1ETFDs {
                    position: relative;
                    left: 30px;
                    top: -5px;
                }
                .guildSeparator-3s64Iy {
                    position: relative;
                    width: 100%;
                    &:after {
                        visibility: hidden;
                    }
                }
                .friendsOnline-2JkivW {
                    position: relative;
                    margin: auto;
                    left: -30px;
                    top: 25px;
                }
                .container-2td-dC.selected-nT-gM3 {
                    &:before {
                        visibility: hidden;
                    }
                }
            }
        }
    }
    .bd-settingsButton {
        left: 20px;
        box-shadow: none;
    }    
}