@mixin compactChannelsList {
    #app-mount {
        .header-2o-2hj {
            width: 170px;
            transition: all .4s ease;
        }
        .channels-Ie2l6A {
            width: 170px;
            transition: all .4s ease;
            &:hover {
                width: 240px;
                .header-2o-2hj {
                    width: 240px;
                }
                .content-20Aix8 {
                    padding: 0 8px;
                }
                .voiceUser-vT8g1p {
                    left: 0;
                }
                .accountDetails-3k9g4n {
                    visibility: visible;
                    transition: all .5 ease;
                }
                .channel-2QD9_O {
                    .name-2WpE7M {
                        opacity: 1;
                        transition: opacity 1s ease;
                    }
                    .wrapper-2F3Zv8 {
                        left: 0;
                        transition: all .5s ease;
                    }
                }
                .inner-btChU7 .rtc-connection-status {
                    font-size: .9em;
                    transition: all .3s ease;
                }
            }
        }
        .container-2Rl01u {
            width: 240px;
        }
        .container-1UB9sr {
            font-size: .875rem;
            .button-2KyEfG {
                width: 26px;
            }
        }
        .privateChannels-1nO12o {
            header {
                font-size: .875rem;
            }
            .channel-2QD9_O {
                &:not([style="height: 42px; opacity: 1;"]) {
                    display: inline-block;
                    margin: 0 4px;
                    width: calc((100%/3) - 6px);
                }
                .name-2WpE7M {
                    opacity: 0;
                }
                a:not([href*="/channels/@me/"]) {
                    .name-2WpE7M {
                        display: none;
                    }
                    svg {
                        margin: 0;
                        width: 100%;
                        path:first-of-type {
                            fill: var(--iconColour);
                        }
                    }
                    .downloadProgressCircle-3_wgim {
                        bottom: 2px;
                        position: absolute;
                    }
                    .wrapper-232cHJ {
                        bottom: 0;
                        right: 0;
                        padding: 3px;
                        position: absolute;
                    }
                }
            }
            .scroller-2FKFPG:not([style="height: 42px; opacity: 1;"]) {
                text-align: center;
            }
            .searchBar-2_Yu-C .searchBarInner-1_Tg2R {
                width: 100%;
            }
        }
        .content-20Aix8 {
            padding: 0;
            transition: all .4s ease;
        }
        .voiceUser-vT8g1p {
            left: -20px;
            transition: all .4s ease;
        }
        .inner-btChU7 {
            .rtc-connection-status {
                font-size: .7em;
                transition: all .3s ease;
                .ping {
                    background-size: 10px 10px;
                }
            }
            .channel-SEolQq {
                opacity: .8;
            }
        }
        .container-2Thooq {
            .button-2b6hmh {
                width: 22px;
            }
        }
        .accountDetails-3k9g4n {
            visibility: hidden;
            position: relative;
            right: 5px;
        }
        .name-2WpE7M {
            flex-grow: 0;
        }
        .channel-2QD9_O {
            .wrapper-2F3Zv8 {
                left: 50px;
                transition: all .5s ease;
            }
            &:hover a {
                background-color: transparent;
            }
            &.selected-1HYmZZ:not(.name-2WpE7M) a {
                background-color: transparent;
                filter: drop-shadow(0px 0 4px var(--hGlow));
            }
        }
        .wrapper-1Rf91z:hover+div {
            .header-2o-2hj {
                width: 240px;
            }
            .channels-Ie2l6A {
                width: 240px;
                .content-20Aix8 {
                    padding: 0 8px;
                }
                .voiceUser-vT8g1p {
                    left: 0;
                }
                .accountDetails-3k9g4n {
                    visibility: visible;
                    transition: all .5s ease;
                }
                .channel-2QD9_O {
                    .name-2WpE7M {
                        opacity: .6;
                        transition: opacity 2s ease;
                    }
                    .wrapper-2F3Zv8 {
                        left: 0;
                        transition: all .5s ease;
                    }
                }
                .inner-btChU7 .rtc-connection-status {
                    font-size: .9em;
                    transition: all .3s ease;
                }
            }
        }
    }
}