@mixin emailBlur {
#app-mount {
	.standardSidebarView-3F1I7i {
		.payment-info {
			.description-3_Ncsb {
				transition: all var(--blurSpeed) cubic-bezier(.550, .085, .680, .530);
				filter: blur(4px);
				opacity: var(--blurOpacity);
				&:hover {
					transition: all var(--blurSpeed) cubic-bezier(.550, .085, .680, .530);
					filter: none;
					opacity: var(--blurOpacity);
				}
			}
		}
		.paymentSourceRow-3FbcL_ {
			.subText-V8PTt8 {
				transition: all var(--blurSpeed) cubic-bezier(.550, .085, .680, .530);
				filter: blur(4px);
				opacity: var(--blurOpacity);
				&:hover {
					transition: all var(--blurSpeed) cubic-bezier(.550, .085, .680, .530);
					filter: none;
					opacity: var(--blurOpacity);
				}
			}
		}
		.userSettingsAccount-2eMFVR {
			div {
				&:nth-child(2) {
					>div {
						&:nth-child(2) {
							>.viewBody-2Qz-jg {
								transition: all var(--blurSpeed) cubic-bezier(.550, .085, .680, .530);
								filter: blur(4px);
								opacity: var(--blurOpacity);
								&:hover {
									transition: all var(--blurSpeed) cubic-bezier(.550, .085, .680, .530);
									filter: none;
									opacity: var(--blurOpacity);
								}
							}
						}
					}
				}
			}
		}
	}
}
}