@mixin autoHideSettings {
    #app-mount {
        #bd-settings-sidebar {
            .ui-tab-bar-item {
                line-height: 10px;
            }
        }
        .standardSidebarView-3F1I7i {
            .sidebarRegion-VFTUkN {
                .item-PXvHYJ {
                    line-height: 10px;
                }
                .side-8zPYf6 {
                    opacity: 0;
                    transition: opacity .4s ease;
                }
                &:hover {
                    .side-8zPYf6 {
                        opacity: 1;
                        transition: opacity .4s ease;
                    }
                    flex: 0;
                    width: 190px;
                    border-right-width: 0;
                    transition: .4s cubic-bezier(0.4, 0, 1, 1);
                }
                .sidebar-CFHs9e {
                    padding: 25px 10px 10px 25px;
                    width: 190px;
                }
                flex: 0;
                width: 0;
                border-right: var(--settingBarSize) solid var(--settingBarColour);
                border-radius: 2px;
                transition: all .4s cubic-bezier(0.4, 0, 1, 1);
            }
            .contentRegion-3nDuYy {
                .contentColumnDefault-1VQkGM {
                    max-width: 100%;
                    padding: 40px 30px 80px;
                }
            }
        }
    }    
}