@import 'codeBlocks';
@import 'fullSizePfp';
@import 'glowStatus';
@import 'customChatAvatars';

$codeBlocks: false !default;
$fullSizePfp: true !default;
$glowStatus: true !default;
$customChatAvatars: true !default;

@if $codeBlocks == true {@include codeBlocks;}
@if $fullSizePfp == true {@include fullSizePfp;}
@if $glowStatus == true {@include glowStatus;}
@if $customChatAvatars == true {@include customChatAvatars;}