::placeholder,body,button,input,select,textarea:not([class*="hljs"]):not(code) {
    font-family: var(--font) !important
}

#app-mount .markup-2BOw-j:not(code) {
    color: var(--textColour);
    font-size: var(--fontSize) !important
}