#app-mount {
	.members-1998pB {
		.nameTag-m8r81H {
			line-height: 22px;
		}
	}
	.BE-badge-EarlySupporter, 
	.profileBadgeEarlySupporter-PQB_0a,
	.da-profileBadgeEarlySupporter {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--early));
	}
	.BE-badge-Nitro,
	.profileBadgePremium-3kZ9Qj,
	.da-profileBadgePremium {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--nitro));
	}
	.BE-badge-HypeSquad,
	.profileBadgeHypesquad-1YIe7Z,
	.da-profileBadgeHypesquad {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--hype));
	}
	.BE-badge-HypeSquadBravery,
	.profileBadgeHypeSquadOnlineHouse1-xN6tES,
	.profileBadgeHypeSquadOnlineHouse3KOH-s5aYpz,
	.da-profileBadgeHypeSquadOnlineHouse3KOH,
	.da-profileBadgeHypeSquadOnlineHouse1 {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--brave));
	}
	.BE-badge-HypeSquadBrilliance,
	.profileBadgeHypeSquadOnlineHouse2-3jBpXR,
	.da-profileBadgeHypeSquadOnlineHouse2 {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--bril));
	}
	.BE-badge-HypeSquadBalance,
	.profileBadgeHypeSquadOnlineHouse3-1YbjMX,
	.da-profileBadgeHypeSquadOnlineHouse3,
	.profileBadgeWrapper-rl_RO6 .wrapper-1WA4pN {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--bal));
	}
	.BE-badge-Staff,
	.profileBadgeStaff-13GO7z,
	.da-profileBadgeStaff {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--staff));
	}
	.BE-badge-BugHunter,
	.profileBadgeBugHunter-IV0vLE,
	.da-profileBadgeBugHunter {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--bughntr));
	}
	.BE-badge-Partner,
	.profileBadgePartner-SjK6L2,
	.da-profileBadgePartner {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--partner));
	}
	.bd-profileBadgeDeveloper {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--bddev));
	}
	.bd-profileBadgeContributor {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--bdcontrib));
	}
	.ownerIcon-1cARO0,
	.da-ownerIcon {
		filter: drop-shadow(0 0 var(--badgeGlow) var(--owner));
	}
}