#app-mount .emojiPicker-3m1S-j,
#app-mount .emojiPicker-3m1S-j .scroller-3vODG7,
#app-mount .emojiPicker-3m1S-j .scrollerWrap-PyxcLY,
#app-mount .emojiPicker-3m1S-j .dimmer-3iH-5D,
#app-mount #bda-qem-twitch-container,
#app-mount #bda-qem-favourite-container {
    height: var(--epHeight);
    width: var(--epWidth)
}

#app-mount .emojiPicker-3m1S-j .categories-1feg4n {
    margin: 0;
    position: relative;
    left: 70px
}

#app-mount .emojiPicker-3m1S-j .scroller-3vODG7,
#app-mount .emojiPicker-3m1S-j .scroller-3vODG7,
#app-mount .emojiPicker-3m1S-j .scrollerWrap-PyxcLY,
#app-mount .emojiPicker-3m1S-j .dimmer-3iH-5D {
    height: 100%;
    width: 100%
}

#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 .row-3j9Kuo {
    width: var(--epWidth)
}

#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA {
    width: var(--epItemW)
}

#app-mount .chat-3bRxxu .emoji.jumboable,
#app-mount .chat-3bRxxu .emote.jumboable {
    height: var(--emojiSize);
    width: var(--emojiSize)
}