$exBG: url('Assets/defaultBG.jpg') !default;
$homeIcon: url('https://i.imgur.com/pIiNaUN.gif') !default;

$brightness: 50 !default;
$size1: 60px !default;
$round1: $round !default;
$margin1: 0px !default;
$margin2: 0px !default;
$compact: 15 !default;

$round: 50% !default;
$sGlow: 5px 2px !default;
$online: #43b581 !default;
$offline: #747f8d !default;
$idle: #faa61a !default;
$stream: #593695 !default;
$dnd: #f04747 !default;
$invis: #1a36fa !default;

:root {
    --brightness: #{$brightness};
    --homeIcon: #{$homeIcon};
	--size1: #{$size1};
	--round1: #{$round1};
	--margin1: #{$margin1}; 
	--margin2: #{$margin2};
	--compact: #{$compact}px; 
    --round: #{$round};
    --sGlow: #{$sGlow};
    --online: #{$online};
    --offline: #{$offline};
    --idle: #{$idle};
    --stream: #{$stream};
    --dnd: #{$dnd};
    --invis: #{$invis};
}