div[class^=container-] div[class*=wrapper]>div[class*=name],
#app-mount .membersGroup-v9BXpm,
#app-mount .privateChannels-1nO12o header {
    text-align: center;
    display: flex;
    opacity: 1;
    font-size: var(--LineSize);
    letter-spacing: 0;
    align-items: center;
    overflow: hidden;
    text-transform: capitalize;
    color: var(--NameColour);
}

div[class^=container-] div[class*=wrapper]>div[class*=name]:before,
div[class^=container-] div[class*=wrapper]>div[class*=name]:after,
#app-mount .membersGroup-v9BXpm:before,
#app-mount .membersGroup-v9BXpm:after,
#app-mount .privateChannels-1nO12o header:before,
#app-mount .privateChannels-1nO12o header:after {
    content: "";
    width: 100%;
    height: 1px;
    vertical-align: middle;
    background: var(--LineColour);
    display: inline-block;
    margin: 0 5px
}

#app-mount .containerDefault-3GGEv_,
#app-mount .membersGroup-v9BXpm,
#app-mount .privateChannels-1nO12o header {
    padding-left: 5px;
    padding-right: 5px
}