#app-mount .standardSidebarView-3F1I7i .payment-info .description-3_Ncsb, 
#app-mount .standardSidebarView-3F1I7i .paymentSourceRow-3FbcL_ .subText-V8PTt8, 
#app-mount .standardSidebarView-3F1I7i .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg {
    transition: all var(--blurSpeed) cubic-bezier(.550, .085, .680, .530);
    filter: blur(4px);opacity: var(--blurOpacity)
}
#app-mount .standardSidebarView-3F1I7i .payment-info .description-3_Ncsb:hover, 
#app-mount .standardSidebarView-3F1I7i .paymentSourceRow-3FbcL_ .subText-V8PTt8:hover, 
#app-mount .standardSidebarView-3F1I7i .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg:hover {
    transition: all var(--blurSpeed) cubic-bezier(.550, .085, .680, .530);
    filter: none;opacity: var(--blurOpacity)
}